#carousel {
	padding: 0 0 1em 0;
	color: #fff;
	display: none;
	li {
		float: left;
		display: block;
		a {
			display: block;
		}
		p {
			text-align: center;
		}
	}
	.img-contain {
		overflow: hidden;
		max-height: 500px;
		img {
			width: 100%;
		}
	}
	.pagination {
		list-style: none;
		margin: 1em auto;
		a {
			float: left;
			display: block;
			padding: 5px;
			margin: 0 5px;
			span {
				@include circle( 10px, $light-gray );
				display: block;
				content: none;
			}
			&.selected {
				span {
					background: $orange-color;
				}
			}
		}
	}
}
