@import "constants";

body {
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

ul, li {
	list-style-type : none;
}

.wrapper {
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
}

.wrapper-small {
	width: 60%;
	margin: 0 20%;
}

.gray-bg {
	background: $gray-color;
}

/* ===================
	ALL: Orange Theme
   =================== */

.header-container {
}

.footer-container {
	background: $gray-color;
	height: 30px;
	footer {
		color: white;
		font-weight: normal;
	}
}

.title {
	background: url('../img/dcg-logo.jpg') 0 0 no-repeat;
	width: 102px;
	height: 102px;
}

.slogan {
	font-size: 24px;
}

/* ==============
	MOBILE: Menu
   ============== */

nav {

}

nav ul {
	width: 59%;
	float: right;
	margin: 0;
	padding: 0;
}

nav a {
	float: left;
	display: block;
	margin-bottom: 10px;
	margin: 0 1.7%;
	padding: 25px 2%;
	margin-bottom: 0;

	text-align: center;
	text-decoration: none;
	font-weight: normal;
	font-size: 15px;

	color: $orange-color;
	background: #fff;

	&:hover,
	&:visited {
		color: $orange-color;
	}

	&:hover {
		text-decoration: underline;
	}
}


/* ==============
	MOBILE: Main
   ============== */

.main-container {
	width:100%;
}
.main {
	padding: 30px 0;
}

.main article h1 {
	font-size: 2em;
}

header h1 {
	color: $orange-color;
}


/* ==================
	SECTIONS
	================== */

#steps {
	color : #fff;
	section {
		float: left;
		width: 20%;
		height: 100%;
		margin: 0px 5% 0px 0px;
		text-align: center;

		h2 {
			color: $blue;
			font-size: 100%;
		}
		p {
			color: $light-gray;
			text-align: justify;
		}
		> .inner {
			padding: 10px;
		}
	}
	article {
		padding: 20px 0px 0px 0px;
	}
}

#definition {
	text-align: center;

	article{
		padding: 35px 0px 25px 0px;
		header {
			h1 {
				padding: 0px;
				margin: 0px;
			}
		}
	}
}

#latest {
	background: $light-tan;
	border-top: 5px solid $orange-color;
	article {
		padding: 0 0 2em 0;
	}
	section{
		float: left;
		width: 24.6%;
		border-right: 2px dotted $gray-color;

		> .inner {
			padding: 1% 5%;
		}
		&.last{
			border-right: 0;
		}
	}
}

#thoughts {
	.contain {
		border-bottom: 2px dotted $gray-color;
	}
	.row {
		border-top: 2px dotted $gray-color;
		margin: 5px 0 0 0;
		width: 100%;
		height: 100%;
		position: inherit;
		>.inner {
			position: inherit;
			padding: 8px 5px 5px 5px;
			width: 100%;
			height: 100%;
		}
	}

	section {
		float: left;
		width: 24.6%;
		height: 305px;
		border-right: 2px dotted $gray-color;
		&.first{
		}
		&.last{
			border-right: 0;
		}
		>.inner {
			padding: 8px;
			height: 100%;
		}
		.border {
			height: 100%;
		}
		a { 
			display: block;
		}
		p { 
			margin: 0;
		}
	}
}

#social {
	article {
		padding: 0 0 2em 0;
	}
	section { 
		float: left;
		&#video {
			width: 59%;
			padding: 2em 0px;
			iframe {
				width: 100%;
			}
		}
		&#twitter {
			width: 40%;
			border-left: 2px dotted $gray-color;
			>.inner {
				padding: 10px 20px;
			}
		}
	}
}

#story {
	color: #fff;
	height: 370px;

	.wrapper {
		> .inner {
			padding: 10px 0px;
		}
	}
}

#team {
	background: $orange-color;
	color: #fff;
	position: relative;
	section {
		border-right: 2px dotted #fff;
		float: left;
		margin: 0px 1px 0px 0px;
		text-align: center;

		img { 
			background: #010101;
		}

		> .inner {
			padding: 10px 0px;
		}
	}
	article { 
		z-index: 1;
		zoom: 1;
	}
	.edge {
		.mid {
			width: 100%;
			height: 175px;
			background: #010101;
		}
		.btm, .top {
			width: 100%;
			background: $orange-color;
		}
		.top { 
			height: 73px;
		}
		.btm { 
			height: 110px;
		}
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		z-index: 0;
		zoom: 1;
	}
}

#contact {
	section {
		float: left;
		width: 30%;
		border-right: 2px dotted $gray-color;

		&.last {
			border-right: 0;
		}

		> .inner {
			padding: 0px 20px;
		}

	}
	.links {

	}
	.newsletter {

	}
	.contact {
		h4{
			margin: 0;
		}
		p { 
			margin: 0;
		}
	}
}