body {
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
	width: 90%;
	margin: 0 5%;
}

.warpper-small {
	width: 50%;
	margin: 0 5%;
}

.gray-bg {
	background: $gray;
}

/* ===================
	ALL: Orange Theme
   =================== */

.header-container {
}

.footer-container,
.main aside {
	border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
}

.title {
	background: url('../img/dcg-logo.jpg') 0 0 no-repeat;
	width: 102px;
	height: 102px;
}

.slogan {
	font-size: 24px;
}

/* ==============
	MOBILE: Menu
   ============== */

nav {

}

nav ul {
	float: right;
	margin: 0;
	padding: 0;
}

nav a {
	display: block;
	margin-bottom: 10px;
	padding: 15px 0;

	text-align: center;
	text-decoration: none;
	font-weight: normal;
	font-size: 15px;

	color: $orange;
	background: #fff;

}

nav a:hover,
nav a:visited {
	color: $orange;
}

nav a:hover {
	text-decoration: underline;
}

/* ==============
	MOBILE: Main
   ============== */

.main-container {
	width:100%;
}
.main {
	padding: 30px 0;
}

.main article h1 {
	font-size: 2em;
}

.main aside {
	color: white;
	padding: 0px 5% 10px;
}

.footer-container footer {
	color: white;
	padding: 20px 0;
}


/* ==================
	SECTIONS
    ================== */

#steps {
	color : #fff;
	section {
		float: left;
		width: 25%;
		height: 100%;

		h2 {
			text-align: center;
			color: $blue;
		}
		img {
			text-align: center;
		}

	}
}

#definition {
	text-align: center;

	header {
		h1 {
			color : $orange;
		}
	}
}