/* line 3, ../sass/main.scss */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/* line 7, ../sass/main.scss */
ul, li {
  list-style-type: none;
}

/* line 11, ../sass/main.scss */
.wrapper {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

/* line 18, ../sass/main.scss */
.wrapper-small {
  width: 60%;
  margin: 0 20%;
}

/* line 23, ../sass/main.scss */
.gray-bg {
  background: #515151;
}

/* ===================
	ALL: Orange Theme
   =================== */
/* line 34, ../sass/main.scss */
.footer-container {
  background: #515151;
  height: 30px;
}
/* line 37, ../sass/main.scss */
.footer-container footer {
  color: white;
  font-weight: normal;
}

/* line 43, ../sass/main.scss */
.title {
  background: url("../img/dcg-logo.jpg") 0 0 no-repeat;
  width: 102px;
  height: 102px;
}

/* line 49, ../sass/main.scss */
.slogan {
  font-size: 24px;
}

/* ==============
	MOBILE: Menu
   ============== */
/* line 61, ../sass/main.scss */
nav ul {
  width: 59%;
  float: right;
  margin: 0;
  padding: 0;
}

/* line 68, ../sass/main.scss */
nav a {
  float: left;
  display: block;
  margin-bottom: 10px;
  margin: 0 1.7%;
  padding: 25px 2%;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  color: #e35225;
  background: #fff;
}
/* line 85, ../sass/main.scss */
nav a:hover, nav a:visited {
  color: #e35225;
}
/* line 89, ../sass/main.scss */
nav a:hover {
  text-decoration: underline;
}

/* ==============
	MOBILE: Main
   ============== */
/* line 99, ../sass/main.scss */
.main-container {
  width: 100%;
}

/* line 102, ../sass/main.scss */
.main {
  padding: 30px 0;
}

/* line 106, ../sass/main.scss */
.main article h1 {
  font-size: 2em;
}

/* line 110, ../sass/main.scss */
header h1 {
  color: #e35225;
}

/* ==================
	SECTIONS
	================== */
/* line 119, ../sass/main.scss */
#steps {
  color: #fff;
}
/* line 121, ../sass/main.scss */
#steps section {
  float: left;
  width: 20%;
  height: 100%;
  margin: 0px 5% 0px 0px;
  text-align: center;
}
/* line 128, ../sass/main.scss */
#steps section h2 {
  color: #bde9f2;
  font-size: 100%;
}
/* line 132, ../sass/main.scss */
#steps section p {
  color: silver;
  text-align: justify;
}
/* line 136, ../sass/main.scss */
#steps section > .inner {
  padding: 10px;
}
/* line 140, ../sass/main.scss */
#steps article {
  padding: 20px 0px 0px 0px;
}

/* line 145, ../sass/main.scss */
#definition {
  text-align: center;
}
/* line 148, ../sass/main.scss */
#definition article {
  padding: 35px 0px 25px 0px;
}
/* line 151, ../sass/main.scss */
#definition article header h1 {
  padding: 0px;
  margin: 0px;
}

/* line 159, ../sass/main.scss */
#latest {
  background: #e3dfd4;
  border-top: 5px solid #e35225;
}
/* line 162, ../sass/main.scss */
#latest article {
  padding: 0 0 2em 0;
}
/* line 165, ../sass/main.scss */
#latest section {
  float: left;
  width: 24.6%;
  border-right: 2px dotted #515151;
}
/* line 170, ../sass/main.scss */
#latest section > .inner {
  padding: 1% 5%;
}
/* line 173, ../sass/main.scss */
#latest section.last {
  border-right: 0;
}

/* line 180, ../sass/main.scss */
#thoughts .contain {
  border-bottom: 2px dotted #515151;
}
/* line 183, ../sass/main.scss */
#thoughts .row {
  border-top: 2px dotted #515151;
  margin: 5px 0 0 0;
  width: 100%;
  height: 100%;
  position: inherit;
}
/* line 189, ../sass/main.scss */
#thoughts .row > .inner {
  position: inherit;
  padding: 8px 5px 5px 5px;
  width: 100%;
  height: 100%;
}
/* line 197, ../sass/main.scss */
#thoughts section {
  float: left;
  width: 24.6%;
  height: 305px;
  border-right: 2px dotted #515151;
}
/* line 204, ../sass/main.scss */
#thoughts section.last {
  border-right: 0;
}
/* line 207, ../sass/main.scss */
#thoughts section > .inner {
  padding: 8px;
  height: 100%;
}
/* line 211, ../sass/main.scss */
#thoughts section .border {
  height: 100%;
}
/* line 214, ../sass/main.scss */
#thoughts section a {
  display: block;
}
/* line 217, ../sass/main.scss */
#thoughts section p {
  margin: 0;
}

/* line 224, ../sass/main.scss */
#social article {
  padding: 0 0 2em 0;
}
/* line 227, ../sass/main.scss */
#social section {
  float: left;
}
/* line 229, ../sass/main.scss */
#social section#video {
  width: 59%;
  padding: 2em 0px;
}
/* line 232, ../sass/main.scss */
#social section#video iframe {
  width: 100%%;
}
/* line 236, ../sass/main.scss */
#social section#twitter {
  width: 40%;
  border-left: 2px dotted #515151;
}
/* line 239, ../sass/main.scss */
#social section#twitter > .inner {
  padding: 10px 20px;
}

/* line 246, ../sass/main.scss */
#story {
  color: #fff;
  height: 370px;
}
/* line 251, ../sass/main.scss */
#story .wrapper > .inner {
  padding: 10px 0px;
}

/* line 257, ../sass/main.scss */
#team {
  background: #e35225;
  color: #fff;
  position: relative;
}
/* line 261, ../sass/main.scss */
#team section {
  border-right: 2px dotted #fff;
  float: left;
  margin: 0px 1px 0px 0px;
  text-align: center;
}
/* line 267, ../sass/main.scss */
#team section img {
  background: #010101;
}
/* line 271, ../sass/main.scss */
#team section > .inner {
  padding: 10px 0px;
}
/* line 275, ../sass/main.scss */
#team article {
  z-index: 1;
  zoom: 1;
}
/* line 279, ../sass/main.scss */
#team .edge {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 0;
  zoom: 1;
}
/* line 280, ../sass/main.scss */
#team .edge .mid {
  width: 100%;
  height: 175px;
  background: #010101;
}
/* line 285, ../sass/main.scss */
#team .edge .btm, #team .edge .top {
  width: 100%;
  background: #e35225;
}
/* line 289, ../sass/main.scss */
#team .edge .top {
  height: 73px;
}
/* line 292, ../sass/main.scss */
#team .edge .btm {
  height: 110px;
}

/* line 305, ../sass/main.scss */
#contact section {
  float: left;
  width: 30%;
  border-right: 2px dotted #515151;
}
/* line 310, ../sass/main.scss */
#contact section.last {
  border-right: 0;
}
/* line 314, ../sass/main.scss */
#contact section > .inner {
  padding: 0px 20px;
}
/* line 326, ../sass/main.scss */
#contact .contact h4 {
  margin: 0;
}
/* line 329, ../sass/main.scss */
#contact .contact p {
  margin: 0;
}
