/*
	SMALL SIZE
*/
@media only screen and (max-width: 560px) {
  /* line 9, ../sass/mediaqueries.scss */
  .wrapper {
    width: 100%;
    padding: 0px;
  }
  /* line 12, ../sass/mediaqueries.scss */
  .wrapper > .inner {
    padding: 1em 1em 3em 1em;
  }

  /* line 19, ../sass/mediaqueries.scss */
  .overlay .content {
    top: 4600px !important;
  }
  /* line 21, ../sass/mediaqueries.scss */
  .overlay .content .email, .overlay .content .info, .overlay .content .twitter {
    font-size: 68% !important;
  }

  /* line 27, ../sass/mediaqueries.scss */
  .main {
    padding: 0;
  }

  /* line 31, ../sass/mediaqueries.scss */
  nav {
    margin-top: 180px;
  }
  /* line 33, ../sass/mediaqueries.scss */
  nav ul {
    width: 100% !important;
  }
  /* line 35, ../sass/mediaqueries.scss */
  nav ul li {
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
    padding: 0px !important;
  }
  /* line 40, ../sass/mediaqueries.scss */
  nav ul li a {
    background: #515151 !important;
    color: #fff !important;
    padding: 12px 25px;
    text-align: left;
  }
  /* line 46, ../sass/mediaqueries.scss */
  nav ul li.last {
    margin: 0;
    padding: 0;
  }

  /* line 54, ../sass/mediaqueries.scss */
  header .title {
    top: -131px;
    left: 13px;
    position: absolute;
  }
  /* line 59, ../sass/mediaqueries.scss */
  header .slogan {
    width: 90% !important;
    margin: 0 !important;
    float: none !important;
    padding: 5% 0 5% 16% !important;
    text-align: center;
  }

  /* line 67, ../sass/mediaqueries.scss */
  #steps {
    display: none;
    visibility: hidden;
  }
  /* line 69, ../sass/mediaqueries.scss */
  #steps section img {
    padding: 10% 2% 6% 2% !important;
    width: 15% !important;
  }

  /* line 77, ../sass/mediaqueries.scss */
  #definition {
    display: none;
    visibility: hidden;
  }

  /* line 82, ../sass/mediaqueries.scss */
  #latest section {
    float: none !important;
    width: 100% !important;
    border-right: 0 !important;
    border-bottom: 1px dotted #515151;
    min-height: 150px !important;
  }

  /* line 91, ../sass/mediaqueries.scss */
  #thoughts .contain {
    border-bottom: 0 !important;
  }
  /* line 94, ../sass/mediaqueries.scss */
  #thoughts .contain .row.first {
    border-top: 0 !important;
  }
  /* line 97, ../sass/mediaqueries.scss */
  #thoughts .contain .row > .inner {
    padding: 8px 0px !important;
  }
  /* line 102, ../sass/mediaqueries.scss */
  #thoughts section {
    overflow: hidden;
  }
  /* line 104, ../sass/mediaqueries.scss */
  #thoughts section > .inner {
    padding: 0px 3% !important;
  }

  /* line 110, ../sass/mediaqueries.scss */
  #social #videoplayer {
    width: 100% !important;
    border-right: 0;
    padding: 0 !important;
  }
  /* line 114, ../sass/mediaqueries.scss */
  #social #videoplayer #videoplaylist li {
    margin: 0px 0px 0px 2px !important;
  }
  /* line 118, ../sass/mediaqueries.scss */
  #social #twitter {
    width: 100% !important;
  }

  /* line 123, ../sass/mediaqueries.scss */
  #team section {
    width: 24.5% !important;
  }
  /* line 125, ../sass/mediaqueries.scss */
  #team section a {
    font-size: 75%;
  }

  /* line 131, ../sass/mediaqueries.scss */
  #contact section {
    float: none !important;
    width: 100% !important;
    border-bottom: 1px dotted #515151 !important;
    border-right: 0 !important;
  }
  /* line 136, ../sass/mediaqueries.scss */
  #contact section.last {
    border-bottom: 0 !important;
  }
  /* line 141, ../sass/mediaqueries.scss */
  #contact .newsletter input[type='text'] {
    width: 315px;
  }

  /* line 147, ../sass/mediaqueries.scss */
  nav li:first-child a {
    margin-left: 0;
  }

  /* line 151, ../sass/mediaqueries.scss */
  nav li:last-child a {
    margin-right: 0;
  }

  /* line 155, ../sass/mediaqueries.scss */
  nav ul li {
    display: inline;
  }

  /* line 159, ../sass/mediaqueries.scss */
  .oldie nav a {
    margin: 0 0.7%;
  }
}
/*
	MEDIUM SIZE
*/
@media only screen and (max-width: 1005px) {
  /* line 170, ../sass/mediaqueries.scss */
  .wrapper {
    width: 100%;
    padding: 0px;
  }
  /* line 173, ../sass/mediaqueries.scss */
  .wrapper > .inner {
    padding: 1em 1em 3em 1em;
  }

  /* line 177, ../sass/mediaqueries.scss */
  .wrapper-small {
    width: 90%;
  }

  /* line 182, ../sass/mediaqueries.scss */
  .overlay .content {
    top: 5000px;
  }

  /* line 189, ../sass/mediaqueries.scss */
  nav ul {
    width: 570px;
  }
  /* line 191, ../sass/mediaqueries.scss */
  nav ul li {
    margin: 0;
    padding: 0px;
  }
  /* line 194, ../sass/mediaqueries.scss */
  nav ul li a {
    padding: 32px 21px;
    text-align: left;
  }
  /* line 198, ../sass/mediaqueries.scss */
  nav ul li.last {
    margin: 0;
    padding: 0;
  }

  /* line 206, ../sass/mediaqueries.scss */
  header .title {
    margin: 0 0 0 37px;
  }
  /* line 209, ../sass/mediaqueries.scss */
  header .slogan {
    font-size: 16px !important;
    width: 65% !important;
    padding: 0% 2%;
    margin: 0 !important;
    line-height: 27px;
  }

  /* line 218, ../sass/mediaqueries.scss */
  #thoughts .row {
    border-top: 1px dotted #515151;
  }
  /* line 220, ../sass/mediaqueries.scss */
  #thoughts .row.first {
    border-top: 0;
  }
  /* line 223, ../sass/mediaqueries.scss */
  #thoughts .row section {
    border-right: 1px dotted #515151;
  }
  /* line 225, ../sass/mediaqueries.scss */
  #thoughts .row section.last {
    border-right: 0;
  }

  /* line 231, ../sass/mediaqueries.scss */
  #steps {
    padding: 0% 0% 2% 0%;
  }
  /* line 233, ../sass/mediaqueries.scss */
  #steps section {
    width: 100% !important;
    text-align: left !important;
    float: none !important;
  }
  /* line 237, ../sass/mediaqueries.scss */
  #steps section img {
    float: left;
    padding: 1% 2% 6% 2%;
    width: 10%;
  }
  /* line 242, ../sass/mediaqueries.scss */
  #steps section .description {
    float: left;
    width: 75%;
    padding: 0% 3%;
  }
  /* line 247, ../sass/mediaqueries.scss */
  #steps section .description h2 {
    margin: 1% 0%;
  }
  /* line 250, ../sass/mediaqueries.scss */
  #steps section .description p {
    margin: 1% 0%;
  }

  /* line 257, ../sass/mediaqueries.scss */
  #thoughts .contain {
    border-bottom: 0;
  }

  /* line 262, ../sass/mediaqueries.scss */
  #latest section {
    float: none !important;
    width: 90% !important;
    border-right: 0 !important;
    border-bottom: 1px dotted #515151;
    min-height: 150px !important;
    margin: 0 5%;
  }
  /* line 269, ../sass/mediaqueries.scss */
  #latest section .seeall {
    padding: 1%;
    position: relative;
    float: right;
  }
  /* line 274, ../sass/mediaqueries.scss */
  #latest section > .inner {
    padding: 1% 0% !important;
  }
  /* line 279, ../sass/mediaqueries.scss */
  #latest header h1 {
    margin: 10px 1%;
  }

  /* line 285, ../sass/mediaqueries.scss */
  #social article {
    padding: 0;
  }
  /* line 288, ../sass/mediaqueries.scss */
  #social #videoplayer {
    width: 100% !important;
    border-right: 0;
    padding: 0 !important;
  }
  /* line 292, ../sass/mediaqueries.scss */
  #social #videoplayer #videoplaylist li {
    margin: 0px 0px 0px 2.5%;
  }
  /* line 296, ../sass/mediaqueries.scss */
  #social #twitter {
    width: 100% !important;
  }

  /* line 303, ../sass/mediaqueries.scss */
  #story .wrapper > .inner {
    padding: 1em 5% 3em 5% !important;
  }

  /* line 310, ../sass/mediaqueries.scss */
  #team section {
    width: 24.6%;
  }
  /* line 312, ../sass/mediaqueries.scss */
  #team section p {
    padding: 0px 10px;
  }

  /* line 320, ../sass/mediaqueries.scss */
  #contact .wrapper > .inner {
    padding: 2% !important;
  }
  /* line 325, ../sass/mediaqueries.scss */
  #contact .links > .inner {
    min-width: 126px !important;
  }
  /* line 330, ../sass/mediaqueries.scss */
  #contact .newsletter input[type='text'] {
    width: 65%;
  }
  /* line 334, ../sass/mediaqueries.scss */
  #contact .newsletter input[type='submit']:hover {
    background: rgba(227, 82, 37, 0.3);
  }
  /* line 339, ../sass/mediaqueries.scss */
  #contact section {
    min-height: 175px;
  }
}
