<<<<<<< HEAD
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../sass/boilerplate.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/boilerplate.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/boilerplate.scss */
::-moz-selection {
  background: #e35225;
  text-shadow: none;
}

/* line 23, ../sass/boilerplate.scss */
::selection {
  background: #e35225;
  text-shadow: none;
}

/* line 28, ../sass/boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/boilerplate.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/boilerplate.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/boilerplate.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 8, ../sass/ie.scss */
.ie7 .title {
  padding-top: 20px;
}

/* line 3, ../sass/main.scss */
body {
  font-family: 'Maven Pro';
  position: relative;
  overflow-x: hidden;
}

/* line 9, ../sass/main.scss */
ul, li {
  list-style-type: none;
}

/* line 13, ../sass/main.scss */
h1 {
  margin: 0.5em 0;
}

/* line 17, ../sass/main.scss */
h2 {
  margin: 0.5em 0;
  font-weight: normal;
  font-size: 1.2em;
}

/* line 23, ../sass/main.scss */
a {
  color: #000;
  text-decoration: none;
}
/* line 26, ../sass/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 31, ../sass/main.scss */
.wrapper {
  width: 1005px;
  margin: 0 auto;
  position: relative;
}

/* line 37, ../sass/main.scss */
.wrapper-small {
  width: 950px;
  margin: 0 auto;
}

/* line 42, ../sass/main.scss */
.gray-bg {
  background: #515151;
}

/* line 47, ../sass/main.scss */
.header-container .title {
  background: url("../img/dcg-logo.jpg") 0 0 no-repeat;
  width: 102px;
  height: 102px;
  float: left;
}
/* line 53, ../sass/main.scss */
.header-container .slogan {
  font-size: 1.3em;
  margin: 1.9em 4% 0 0%;
  width: 710px;
  float: right;
  color: #515151;
}

/* line 62, ../sass/main.scss */
.footer-container {
  background: #515151;
  height: 30px;
}
/* line 65, ../sass/main.scss */
.footer-container footer {
  color: white;
  font-weight: normal;
}
/* line 69, ../sass/main.scss */
.footer-container h5 {
  padding: 5px;
}

/* line 74, ../sass/main.scss */
#goToTop {
  width: 42px;
  height: 42px;
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 100;
  zoom: 1;
}
/* line 82, ../sass/main.scss */
#goToTop a {
  display: block;
}
/* line 85, ../sass/main.scss */
#goToTop img {
  width: 100%;
}

/* ==============
	MOBILE: Menu
   ============== */
/* line 93, ../sass/main.scss */
nav ul {
  width: 55%;
  float: right;
  margin: 0;
  padding: 0;
}
/* line 98, ../sass/main.scss */
nav ul li {
  float: left;
  margin: 0 1.7%;
  padding: 25px 2%;
  margin-bottom: 0;
}
/* line 103, ../sass/main.scss */
nav ul li.last {
  margin: 0 0 0 1.7%;
  padding: 25px 0 25px 2%;
}
/* line 109, ../sass/main.scss */
nav ul a {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  color: #e35225;
  background: #fff;
  border-bottom: 1px solid #fff;
}
/* line 121, ../sass/main.scss */
nav ul a:hover, nav ul a:visited {
  color: #e35225;
}

/* ==============
	MOBILE: Main
   ============== */
/* line 135, ../sass/main.scss */
.main-container {
  width: 100%;
}

/* line 138, ../sass/main.scss */
.main {
  padding: 30px 0;
}

/* line 142, ../sass/main.scss */
.main article h1 {
  font-size: 2em;
}

/* line 146, ../sass/main.scss */
header h1 {
  color: #e35225;
}

/* ==================
	SECTIONS
	================== */
/* line 155, ../sass/main.scss */
.overlay-container {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: none;
  margin-top: -180px;
}

/* line 164, ../sass/main.scss */
.overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
}
/* line 170, ../sass/main.scss */
.overlay .bg {
  background: #000;
  opacity: .8;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  zoom: 1;
  display: block;
  padding-bottom: 180px;
}
/* line 181, ../sass/main.scss */
.overlay .content {
  background: #fff;
  width: 75%;
  text-align: left;
  position: absolute;
  z-index: 1;
  zoom: 1;
  top: 3850px;
  left: 50%;
  margin-left: -37.5%;
}
/* line 182, ../sass/main.scss */
.overlay .content > .inner {
  padding: 20px;
}
/* line 185, ../sass/main.scss */
.overlay .content h3 {
  color: #e35225;
  font-size: 25px;
  margin: 0;
}
/* line 190, ../sass/main.scss */
.overlay .content h4 {
  font-size: 20px;
  margin: 0;
}
/* line 194, ../sass/main.scss */
.overlay .content p {
  font-size: 14px;
}
/* line 197, ../sass/main.scss */
.overlay .content .email, .overlay .content .info, .overlay .content .twitter {
  color: #e35225;
  margin: 0;
}
/* line 200, ../sass/main.scss */
.overlay .content .email span, .overlay .content .info span, .overlay .content .twitter span {
  margin: 0px 10px 0px 0px;
}
/* line 203, ../sass/main.scss */
.overlay .content .email a, .overlay .content .info a, .overlay .content .twitter a {
  color: #e35225;
}
/* line 217, ../sass/main.scss */
.overlay .close {
  float: right;
  background: url("../img/close-overlay.jpg") 0 0 no-repeat;
  width: 19px;
  height: 17px;
  display: block;
}
/* line 224, ../sass/main.scss */
.overlay hr {
  margin-top: 30px;
  border: 1px dotted #515151;
}

/* line 230, ../sass/main.scss */
#steps {
  color: #fff;
}
/* line 232, ../sass/main.scss */
#steps section {
  float: left;
  width: 235px;
  height: 100%;
  margin: 0px 2% 0px 0px;
  text-align: center;
  overflow: hidden;
}
/* line 240, ../sass/main.scss */
#steps section h2 {
  color: #bde9f2;
  line-height: 1em;
  font-size: 1.2em;
}
/* line 245, ../sass/main.scss */
#steps section p {
  color: silver;
  text-align: justify;
}
/* line 249, ../sass/main.scss */
#steps section > .inner {
  padding: 10px;
}
/* line 252, ../sass/main.scss */
#steps section.last {
  margin: 0;
}
/* line 256, ../sass/main.scss */
#steps article {
  padding: 20px 0px 0px 0px;
}

/* line 261, ../sass/main.scss */
#definition {
  text-align: center;
}
/* line 264, ../sass/main.scss */
#definition article {
  padding: 35px 0px 25px 0px;
}
/* line 267, ../sass/main.scss */
#definition article header h1 {
  font-size: 2em;
  padding: 0px;
  margin: 0px;
}
/* line 273, ../sass/main.scss */
#definition article p {
  font-size: 1em;
}

/* line 279, ../sass/main.scss */
#latest {
  background: #e3dfd4;
  border-top: 5px solid #e35225;
}
/* line 282, ../sass/main.scss */
#latest article {
  padding: 0 0 2% 0;
}
/* line 286, ../sass/main.scss */
#latest .wrapper > .inner {
  padding: 1% 2%;
}
/* line 290, ../sass/main.scss */
#latest section {
  overflow: hidden;
  position: relative;
  float: left;
  width: 24.6%;
  border-right: 1px dotted #515151;
  min-height: 310px;
  height: 100%;
}
/* line 299, ../sass/main.scss */
#latest section > .inner {
  padding: 1% 5%;
}
/* line 302, ../sass/main.scss */
#latest section.last {
  border-right: 0;
  border-bottom: 0;
}
/* line 306, ../sass/main.scss */
#latest section p {
  margin: 0;
}
/* line 309, ../sass/main.scss */
#latest section h2 {
  font-weight: bold;
}
/* line 312, ../sass/main.scss */
#latest section .date {
  font-size: 14px;
  font-weight: bold;
  color: #515151;
}
/* line 317, ../sass/main.scss */
#latest section .title {
  font-size: 16px;
  color: #515151;
}
/* line 321, ../sass/main.scss */
#latest section .seeall {
  position: absolute;
  bottom: 0px;
  right: 10px;
}
/* line 326, ../sass/main.scss */
#latest section li {
  margin-top: 10px;
}
/* line 330, ../sass/main.scss */
#latest section .pdfIcon {
  background: url(../img/adobe-pdf-logo.png) top left no-repeat;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: .5em;
}

/* line 341, ../sass/main.scss */
#thoughts .contain {
  border-bottom: 1px dotted #515151;
}
/* line 344, ../sass/main.scss */
#thoughts .row {
  border-top: 1px dotted #515151;
  margin: 5px 0 0 0;
  width: 100%;
  position: inherit;
}
/* line 349, ../sass/main.scss */
#thoughts .row > .inner {
  position: relative;
  padding: 8px 5px 5px 5px;
  width: 100%;
}
/* line 356, ../sass/main.scss */
#thoughts .wrapper > .inner {
  padding: 1% 2%;
}
/* line 360, ../sass/main.scss */
#thoughts section {
  position: relative;
  float: left;
  width: 24.6%;
  min-height: 310px;
  height: 100%;
  border-right: 1px dotted #515151;
}
/* line 369, ../sass/main.scss */
#thoughts section.last {
  border-right: 0;
}
/* line 372, ../sass/main.scss */
#thoughts section > .inner {
  padding: 0px 8px;
}
/* line 375, ../sass/main.scss */
#thoughts section .blog-btn {
  display: block;
  min-height: 310px;
  height: 100%;
}
/* line 380, ../sass/main.scss */
#thoughts section .share {
  margin-top: 1em;
}
/* line 382, ../sass/main.scss */
#thoughts section .share iframe {
  margin: -3px 0 0 0;
}
/* line 386, ../sass/main.scss */
#thoughts section p {
  margin: 0;
}
/* line 388, ../sass/main.scss */
#thoughts section p.date {
  font-size: 11px;
  margin-bottom: 5px;
  color: #999;
}
/* line 394, ../sass/main.scss */
#thoughts section p.title {
  font-size: 16px;
  line-height: 18px;
  height: 55px;
  overflow: hidden;
}
/* line 400, ../sass/main.scss */
#thoughts section p.continue {
  font-size: 14px;
}
/* line 403, ../sass/main.scss */
#thoughts section p.author {
  font-size: 11px;
  line-height: 11px;
}
/* line 408, ../sass/main.scss */
#thoughts section img {
  max-width: 100%;
  margin: .5em 0;
  overflow: hidden;
}

/* line 417, ../sass/main.scss */
#social article {
  padding: 0 0 2em 0;
}
/* line 419, ../sass/main.scss */
#social article > .inner {
  padding: 1% 2%;
}
/* line 423, ../sass/main.scss */
#social #videoplayer {
  width: 48.4%;
  border-right: 1px dotted #515151;
  padding: 0 .9em 0 0px;
}
/* line 427, ../sass/main.scss */
#social #videoplayer > .inner {
  padding: 0px .3em 1em .3em;
  background: #eaeaea;
}
/* line 431, ../sass/main.scss */
#social #videoplayer #videoLoad {
  display: none;
  visibility: hidden;
}
/* line 435, ../sass/main.scss */
#social #videoplayer #video {
  padding: 2em 1em 0 0;
}
/* line 439, ../sass/main.scss */
#social #videoplayer #videofeature h3 {
  max-height: 55px;
  overflow: hidden;
  border-top: 1px dotted black;
  padding: 2% 0px;
}
/* line 445, ../sass/main.scss */
#social #videoplayer #videofeature iframe {
  width: 100%;
}
/* line 449, ../sass/main.scss */
#social #videoplayer #videofeature .contain-seeall .seeall {
  padding: 10px 0;
  display: block;
  float: right;
  margin-right: 10px;
}
/* line 458, ../sass/main.scss */
#social #videoplayer #videoplaylist h4 {
  width: 90px;
  height: 57px;
  margin: 0;
  font-size: 13px;
  overflow: hidden;
}
/* line 465, ../sass/main.scss */
#social #videoplayer #videoplaylist img {
  width: 90px;
}
/* line 468, ../sass/main.scss */
#social #videoplayer #videoplaylist li {
  display: inline;
  float: left;
  margin: 0px 0px 0px 4.3%;
}
/* line 472, ../sass/main.scss */
#social #videoplayer #videoplaylist li.active {
  opacity: .3;
  cursor: cursor;
}
/* line 476, ../sass/main.scss */
#social #videoplayer #videoplaylist li.active a {
  cursor: cursor;
  text-decoration: none;
}
/* line 484, ../sass/main.scss */
#social #twitter {
  width: 49%;
}
/* line 486, ../sass/main.scss */
#social #twitter > .inner {
  padding: 10px 20px;
}
/* line 489, ../sass/main.scss */
#social #twitter .tweet_list {
  margin: 0;
}
/* line 491, ../sass/main.scss */
#social #twitter .tweet_list li {
  border-bottom: 1px dotted #515151;
  padding: 0px 0px 5px 0px;
  margin: 10px 0px;
  overflow: hidden;
}
/* line 497, ../sass/main.scss */
#social #twitter .tweet_list li .tweet_time {
  display: block;
}
/* line 501, ../sass/main.scss */
#social #twitter .tweet_list .tweet_first {
  margin: 0px 0px 10px 0px;
}
/* line 504, ../sass/main.scss */
#social #twitter .tweet_list .tweet_last {
  border-bottom: 0;
}
/* line 507, ../sass/main.scss */
#social #twitter .tweet_list .tweet_avatar {
  border: 1px solid #000;
  padding: 3px;
  width: 64px;
  height: 64px;
  display: block;
  float: left;
  margin-right: .75em;
}
/* line 516, ../sass/main.scss */
#social #twitter .tweet_list .txt {
  margin: 0;
  width: 75%;
  float: left;
}
/* line 522, ../sass/main.scss */
#social #twitter header {
  border-bottom: 1px dotted #515151;
  margin-bottom: 1em;
}
/* line 525, ../sass/main.scss */
#social #twitter header h2 {
  float: left;
  margin: 0;
  margin-bottom: .5em;
}
/* line 530, ../sass/main.scss */
#social #twitter header a {
  margin-top: .5em;
  float: right;
  display: block;
  margin: 5px 10px;
}
/* line 538, ../sass/main.scss */
#social section {
  float: left;
}

/* line 543, ../sass/main.scss */
#story {
  color: #fff;
}
/* line 547, ../sass/main.scss */
#story .wrapper > .inner {
  padding: 1% 2%;
}
/* line 551, ../sass/main.scss */
#story .wrapper section p {
  font-size: 1.2em;
}

/* line 558, ../sass/main.scss */
#team {
  background: #000;
  color: #fff;
  position: relative;
  border-top: 5px solid #e35225;
  border-bottom: 6px solid #e35225;
}
/* line 564, ../sass/main.scss */
#team section {
  border-right: 1px dotted #fff;
  float: left;
  margin: 0px 1px 0px 0px;
  text-align: center;
  width: 24.8%;
}
/* line 571, ../sass/main.scss */
#team section a {
  display: block;
  color: #fff;
  position: relative;
}
/* line 575, ../sass/main.scss */
#team section a img {
  background: #010101;
  width: 100%;
}
/* line 579, ../sass/main.scss */
#team section a .info {
  padding: 15px 0px;
}
/* line 581, ../sass/main.scss */
#team section a .info p {
  margin: 0;
}
/* line 587, ../sass/main.scss */
#team section.last {
  border-right: 0;
}
/* line 591, ../sass/main.scss */
#team .row {
  border-bottom: 1px dotted #fff;
}
/* line 593, ../sass/main.scss */
#team .row.last {
  border-bottom: 0;
}
/* line 597, ../sass/main.scss */
#team article {
  z-index: 1;
  zoom: 1;
}

/* line 605, ../sass/main.scss */
#contact .wrapper > .inner {
  padding: 1% 2%;
}
/* line 609, ../sass/main.scss */
#contact section {
  float: left;
  border-right: 1px dotted #515151;
  min-height: 275px;
  height: 100%;
}
/* line 615, ../sass/main.scss */
#contact section.last {
  border-right: 0;
}
/* line 621, ../sass/main.scss */
#contact section h4 {
  margin: 0;
  font-size: 18px;
}
/* line 625, ../sass/main.scss */
#contact section p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
}
/* line 631, ../sass/main.scss */
#contact .links {
  width: 24%;
}
/* line 633, ../sass/main.scss */
#contact .links > .inner {
  padding: 0 0 0 1em;
}
/* line 636, ../sass/main.scss */
#contact .links img {
  margin-top: -7px;
}
/* line 639, ../sass/main.scss */
#contact .links span {
  margin: 5px;
}
/* line 643, ../sass/main.scss */
#contact .newsletter {
  width: 48%;
}
/* line 645, ../sass/main.scss */
#contact .newsletter > .inner {
  padding: 0 1em;
}
/* line 648, ../sass/main.scss */
#contact .newsletter input {
  border: 1px solid #515151;
  padding: 15px;
  background: white;
  margin: 0 0 10px 0;
}
/* line 654, ../sass/main.scss */
#contact .newsletter input[type='email'] {
  width: 65%;
}
/* line 657, ../sass/main.scss */
#contact .newsletter input[type='submit'] {
  background: #638d95;
  font-family: 'Maven Pro';
}
/* line 660, ../sass/main.scss */
#contact .newsletter input[type='submit']:hover {
  background: #e35225;
}
/* line 664, ../sass/main.scss */
#contact .newsletter p {
  margin: 0 0 20px 0;
}
/* line 668, ../sass/main.scss */
#contact .contact {
  width: 24%;
}
/* line 670, ../sass/main.scss */
#contact .contact > .inner {
  padding: 0 0 0 1em;
}
/* line 673, ../sass/main.scss */
#contact .contact .role {
  margin-bottom: 15px;
}
/* line 676, ../sass/main.scss */
#contact .contact .email, #contact .contact .phone {
  overflow: hidden;
}

/*
	SMALL SIZE
*/
@media only screen and (max-width: 560px) {
  /* line 9, ../sass/mediaqueries.scss */
  .wrapper {
    width: 100%;
    padding: 0px;
  }
  /* line 12, ../sass/mediaqueries.scss */
  .wrapper > .inner {
    padding: 1em 1em 3em 1em;
  }

  /* line 19, ../sass/mediaqueries.scss */
  .overlay .content {
    top: 4600px !important;
  }
  /* line 21, ../sass/mediaqueries.scss */
  .overlay .content .email, .overlay .content .info, .overlay .content .twitter {
    font-size: 68% !important;
  }

  /* line 27, ../sass/mediaqueries.scss */
  .main {
    padding: 0;
  }

  /* line 31, ../sass/mediaqueries.scss */
  nav {
    margin-top: 180px;
  }
  /* line 33, ../sass/mediaqueries.scss */
  nav ul {
    width: 100% !important;
  }
  /* line 35, ../sass/mediaqueries.scss */
  nav ul li {
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
    padding: 0px !important;
  }
  /* line 40, ../sass/mediaqueries.scss */
  nav ul li a {
    background: #515151 !important;
    color: #fff !important;
    padding: 12px 25px;
    text-align: left;
  }
  /* line 46, ../sass/mediaqueries.scss */
  nav ul li.last {
    margin: 0;
    padding: 0;
  }

  /* line 54, ../sass/mediaqueries.scss */
  header .title {
    top: -131px;
    left: 13px;
    position: absolute;
  }
  /* line 59, ../sass/mediaqueries.scss */
  header .slogan {
    width: 90% !important;
    margin: 0 !important;
    float: none !important;
    padding: 5% 0 5% 16% !important;
    text-align: center;
  }

  /* line 67, ../sass/mediaqueries.scss */
  #steps {
    display: none;
    visibility: hidden;
  }
  /* line 69, ../sass/mediaqueries.scss */
  #steps section img {
    padding: 10% 2% 6% 2% !important;
    width: 15% !important;
  }

  /* line 77, ../sass/mediaqueries.scss */
  #definition {
    display: none;
    visibility: hidden;
  }

  /* line 82, ../sass/mediaqueries.scss */
  #latest section {
    float: none !important;
    width: 100% !important;
    border-right: 0 !important;
    border-bottom: 1px dotted #515151;
    min-height: 150px !important;
  }

  /* line 91, ../sass/mediaqueries.scss */
  #thoughts .contain {
    border-bottom: 0 !important;
  }
  /* line 94, ../sass/mediaqueries.scss */
  #thoughts .contain .row.first {
    border-top: 0 !important;
  }
  /* line 97, ../sass/mediaqueries.scss */
  #thoughts .contain .row > .inner {
    padding: 8px 0px !important;
  }
  /* line 102, ../sass/mediaqueries.scss */
  #thoughts section {
    overflow: hidden;
  }
  /* line 104, ../sass/mediaqueries.scss */
  #thoughts section > .inner {
    padding: 0px 3% !important;
  }

  /* line 110, ../sass/mediaqueries.scss */
  #social #videoplayer {
    width: 100% !important;
    border-right: 0;
    padding: 0 !important;
  }
  /* line 114, ../sass/mediaqueries.scss */
  #social #videoplayer #videoplaylist li {
    margin: 0px 0px 0px 2px !important;
  }
  /* line 118, ../sass/mediaqueries.scss */
  #social #twitter {
    width: 100% !important;
  }

  /* line 123, ../sass/mediaqueries.scss */
  #team section {
    width: 24.5% !important;
  }
  /* line 125, ../sass/mediaqueries.scss */
  #team section a {
    font-size: 75%;
  }

  /* line 131, ../sass/mediaqueries.scss */
  #contact section {
    float: none !important;
    width: 100% !important;
    border-bottom: 1px dotted #515151 !important;
    border-right: 0 !important;
  }
  /* line 136, ../sass/mediaqueries.scss */
  #contact section.last {
    border-bottom: 0 !important;
  }
  /* line 141, ../sass/mediaqueries.scss */
  #contact .newsletter input[type='text'] {
    width: 315px;
  }

  /* line 147, ../sass/mediaqueries.scss */
  nav li:first-child a {
    margin-left: 0;
  }

  /* line 151, ../sass/mediaqueries.scss */
  nav li:last-child a {
    margin-right: 0;
  }

  /* line 155, ../sass/mediaqueries.scss */
  nav ul li {
    display: inline;
  }

  /* line 159, ../sass/mediaqueries.scss */
  .oldie nav a {
    margin: 0 0.7%;
  }
}
/*
	MEDIUM SIZE
*/
@media only screen and (max-width: 1005px) {
  /* line 170, ../sass/mediaqueries.scss */
  .wrapper {
    width: 100%;
    padding: 0px;
  }
  /* line 173, ../sass/mediaqueries.scss */
  .wrapper > .inner {
    padding: 1em 1em 3em 1em;
  }

  /* line 177, ../sass/mediaqueries.scss */
  .wrapper-small {
    width: 90%;
  }

  /* line 182, ../sass/mediaqueries.scss */
  .overlay .content {
    top: 5000px;
  }

  /* line 189, ../sass/mediaqueries.scss */
  nav ul {
    width: 570px;
  }
  /* line 191, ../sass/mediaqueries.scss */
  nav ul li {
    margin: 0;
    padding: 0px;
  }
  /* line 194, ../sass/mediaqueries.scss */
  nav ul li a {
    padding: 32px 21px;
    text-align: left;
  }
  /* line 198, ../sass/mediaqueries.scss */
  nav ul li.last {
    margin: 0;
    padding: 0;
  }

  /* line 206, ../sass/mediaqueries.scss */
  header .title {
    margin: 0 0 0 37px;
  }
  /* line 209, ../sass/mediaqueries.scss */
  header .slogan {
    font-size: 16px !important;
    width: 65% !important;
    padding: 0% 2%;
    margin: 0 !important;
    line-height: 27px;
  }

  /* line 218, ../sass/mediaqueries.scss */
  #thoughts .row {
    border-top: 1px dotted #515151;
  }
  /* line 220, ../sass/mediaqueries.scss */
  #thoughts .row.first {
    border-top: 0;
  }
  /* line 223, ../sass/mediaqueries.scss */
  #thoughts .row section {
    border-right: 1px dotted #515151;
  }
  /* line 225, ../sass/mediaqueries.scss */
  #thoughts .row section.last {
    border-right: 0;
  }

  /* line 231, ../sass/mediaqueries.scss */
  #steps {
    padding: 0% 0% 2% 0%;
  }
  /* line 233, ../sass/mediaqueries.scss */
  #steps section {
    width: 100% !important;
    text-align: left !important;
    float: none !important;
  }
  /* line 237, ../sass/mediaqueries.scss */
  #steps section img {
    float: left;
    padding: 1% 2% 6% 2%;
    width: 10%;
  }
  /* line 242, ../sass/mediaqueries.scss */
  #steps section .description {
    float: left;
    width: 75%;
    padding: 0% 3%;
  }
  /* line 247, ../sass/mediaqueries.scss */
  #steps section .description h2 {
    margin: 1% 0%;
  }
  /* line 250, ../sass/mediaqueries.scss */
  #steps section .description p {
    margin: 1% 0%;
  }

  /* line 257, ../sass/mediaqueries.scss */
  #thoughts .contain {
    border-bottom: 0;
  }

  /* line 262, ../sass/mediaqueries.scss */
  #latest section {
    float: none !important;
    width: 90% !important;
    border-right: 0 !important;
    border-bottom: 1px dotted #515151;
    min-height: 150px !important;
    margin: 0 5%;
  }
  /* line 269, ../sass/mediaqueries.scss */
  #latest section .seeall {
    padding: 1%;
    position: relative;
    float: right;
  }
  /* line 274, ../sass/mediaqueries.scss */
  #latest section > .inner {
    padding: 1% 0% !important;
  }
  /* line 279, ../sass/mediaqueries.scss */
  #latest header h1 {
    margin: 10px 1%;
  }

  /* line 285, ../sass/mediaqueries.scss */
  #social article {
    padding: 0;
  }
  /* line 288, ../sass/mediaqueries.scss */
  #social #videoplayer {
    width: 100% !important;
    border-right: 0;
    padding: 0 !important;
  }
  /* line 292, ../sass/mediaqueries.scss */
  #social #videoplayer #videoplaylist li {
    margin: 0px 0px 0px 2.5%;
  }
  /* line 296, ../sass/mediaqueries.scss */
  #social #twitter {
    width: 100% !important;
  }

  /* line 303, ../sass/mediaqueries.scss */
  #story .wrapper > .inner {
    padding: 1em 5% 3em 5% !important;
  }

  /* line 310, ../sass/mediaqueries.scss */
  #team section {
    width: 24.6%;
  }
  /* line 312, ../sass/mediaqueries.scss */
  #team section p {
    padding: 0px 10px;
  }

  /* line 320, ../sass/mediaqueries.scss */
  #contact .wrapper > .inner {
    padding: 2% !important;
  }
  /* line 325, ../sass/mediaqueries.scss */
  #contact .links > .inner {
    min-width: 126px !important;
  }
  /* line 330, ../sass/mediaqueries.scss */
  #contact .newsletter input[type='text'] {
    width: 65%;
  }
  /* line 334, ../sass/mediaqueries.scss */
  #contact .newsletter input[type='submit']:hover {
    background: rgba(227, 82, 37, 0.3);
  }
  /* line 339, ../sass/mediaqueries.scss */
  #contact section {
    min-height: 175px;
  }
}
/* line 1, ../sass/helper.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 8, ../sass/helper.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 15, ../sass/helper.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 20, ../sass/helper.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 32, ../sass/helper.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 41, ../sass/helper.scss */
.invisible {
  visibility: hidden;
}

/* line 46, ../sass/helper.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 51, ../sass/helper.scss */
.clearfix:after {
  clear: both;
}

/* line 55, ../sass/helper.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 7, ../sass/print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 15, ../sass/print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 19, ../sass/print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 23, ../sass/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 33, ../sass/print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 38, ../sass/print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 43, ../sass/print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 48, ../sass/print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 52, ../sass/print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 62, ../sass/print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 68, ../sass/print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
=======
html,button,input,select,textarea{color:#222}body{font-size:1em;line-height:1.4}::-moz-selection{background:#e35225;text-shadow:none}::selection{background:#e35225;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}.ie7 .title{padding-top:20px}body{font-family:'Maven Pro';position:relative;overflow-x:hidden}ul,li{list-style-type:none}h1{margin:0.5em 0}h2{margin:0.5em 0;font-weight:normal;font-size:1.2em}a{color:#000;text-decoration:none}a:hover{text-decoration:underline}.wrapper{width:1005px;margin:0 auto;position:relative}.wrapper-small{width:950px;margin:0 auto}.gray-bg{background:#515151}.header-container .title{background:url("../img/dcg-logo.jpg") 0 0 no-repeat;width:102px;height:102px;float:left}.header-container .slogan{font-size:1.3em;margin:1.9em 4% 0 0%;width:710px;float:right;color:#515151}.footer-container{background:#515151;height:30px}.footer-container footer{color:white;font-weight:normal}.footer-container h5{padding:5px}nav ul{width:55%;float:right;margin:0;padding:0}nav ul li{float:left;margin:0 1.7%;padding:25px 2%;margin-bottom:0}nav ul li.last{margin:0 0 0 1.7%;padding:25px 0 25px 2%}nav ul a{display:block;text-align:center;font-weight:normal;font-size:15px;color:#e35225;background:#fff;border-bottom:1px solid #fff}nav ul a:hover,nav ul a:visited{color:#e35225}.main-container{width:100%}.main{padding:30px 0}.main article h1{font-size:2em}header h1{color:#e35225}.overlay-container{position:absolute;z-index:1000;width:100%;height:100%;display:none;margin-top:-180px}.overlay{width:100%;height:100%;display:none;position:relative}.overlay .bg{background:#000;opacity:.8;width:100%;height:100%;position:relative;z-index:0;zoom:1;display:block;padding-bottom:180px}.overlay .content{background:#fff;width:75%;text-align:left;position:absolute;z-index:1;zoom:1;top:3850px;left:50%;margin-left:-37.5%}.overlay .content>.inner{padding:20px}.overlay .content h3{color:#e35225;font-size:25px;margin:0}.overlay .content h4{font-size:20px;margin:0}.overlay .content p{font-size:14px}.overlay .content .email,.overlay .content .info,.overlay .content .twitter{color:#e35225;margin:0}.overlay .content .email span,.overlay .content .info span,.overlay .content .twitter span{margin:0px 10px 0px 0px}.overlay .content .email a,.overlay .content .info a,.overlay .content .twitter a{color:#e35225}.overlay .close{float:right;background:url("../img/close-overlay.jpg") 0 0 no-repeat;width:19px;height:17px;display:block}.overlay hr{margin-top:30px;border:1px dotted #515151}#steps{color:#fff}#steps section{float:left;width:235px;height:100%;margin:0px 2% 0px 0px;text-align:center;overflow:hidden}#steps section h2{color:#bde9f2;line-height:1em;font-size:1.2em}#steps section p{color:silver;text-align:justify}#steps section>.inner{padding:10px}#steps section.last{margin:0}#steps article{padding:20px 0px 0px 0px}#definition{text-align:center}#definition article{padding:35px 0px 25px 0px}#definition article header h1{font-size:2em;padding:0px;margin:0px}#definition article p{font-size:1em}#latest{background:#e3dfd4;border-top:5px solid #e35225}#latest article{padding:0 0 2% 0}#latest .wrapper>.inner{padding:1% 2%}#latest section{overflow:hidden;position:relative;float:left;width:24.6%;border-right:1px dotted #515151;min-height:310px;height:100%}#latest section>.inner{padding:1% 5%}#latest section.last{border-right:0;border-bottom:0}#latest section p{margin:0}#latest section h2{font-weight:bold}#latest section .date{font-size:14px;font-weight:bold;color:#515151}#latest section .title{font-size:16px;color:#515151}#latest section .seeall{position:absolute;bottom:0px;right:10px}#latest section li{margin-top:10px}#latest section .pdfIcon{background:url(../img/adobe-pdf-logo.png) top left no-repeat;width:30px;height:30px;float:left;margin-right:.5em}#thoughts .contain{border-bottom:1px dotted #515151}#thoughts .row{border-top:1px dotted #515151;margin:5px 0 0 0;width:100%;position:inherit}#thoughts .row>.inner{position:relative;padding:8px 5px 5px 5px;width:100%}#thoughts .wrapper>.inner{padding:1% 2%}#thoughts section{position:relative;float:left;width:24.6%;min-height:310px;height:100%;border-right:1px dotted #515151}#thoughts section.last{border-right:0}#thoughts section>.inner{padding:0px 8px}#thoughts section .blog-btn{display:block;min-height:310px;height:100%}#thoughts section .share{margin-top:1em}#thoughts section .share iframe{margin:-3px 0 0 0}#thoughts section p{margin:0}#thoughts section p.date{font-size:11px;margin-bottom:5px;color:#999}#thoughts section p.title{font-size:16px;line-height:18px;height:55px;overflow:hidden}#thoughts section p.continue{font-size:14px}#thoughts section p.author{font-size:11px;line-height:11px}#thoughts section img{max-width:100%;margin:.5em 0;overflow:hidden}#social article{padding:0 0 2em 0}#social article>.inner{padding:1% 2%}#social #videoplayer{width:48.4%;border-right:1px dotted #515151;padding:0 .9em 0 0px}#social #videoplayer>.inner{padding:0px .3em 1em .3em;background:#eaeaea}#social #videoplayer #videoLoad{display:none;visibility:hidden}#social #videoplayer #video{padding:2em 1em 0 0}#social #videoplayer #videofeature h3{max-height:55px;overflow:hidden;border-top:1px dotted black;padding:2% 0px}#social #videoplayer #videofeature iframe{width:100%}#social #videoplayer #videofeature .contain-seeall .seeall{padding:10px 0;display:block;float:right;margin-right:10px}#social #videoplayer #videoplaylist h4{width:90px;height:57px;margin:0;font-size:13px;overflow:hidden}#social #videoplayer #videoplaylist img{width:90px}#social #videoplayer #videoplaylist li{display:inline;float:left;margin:0px 0px 0px 4.3%}#social #videoplayer #videoplaylist li.active{opacity:.3;cursor:cursor}#social #videoplayer #videoplaylist li.active a{cursor:cursor;text-decoration:none}#social #twitter{width:49%}#social #twitter>.inner{padding:10px 20px}#social #twitter .tweet_list{margin:0}#social #twitter .tweet_list li{border-bottom:1px dotted #515151;padding:0px 0px 5px 0px;margin:10px 0px;overflow:hidden}#social #twitter .tweet_list li .tweet_time{display:block}#social #twitter .tweet_list .tweet_first{margin:0px 0px 10px 0px}#social #twitter .tweet_list .tweet_last{border-bottom:0}#social #twitter .tweet_list .tweet_avatar{border:1px solid #000;padding:3px;width:64px;height:64px;display:block;float:left;margin-right:.75em}#social #twitter .tweet_list .txt{margin:0;width:75%;float:left}#social #twitter header{border-bottom:1px dotted #515151;margin-bottom:1em}#social #twitter header h2{float:left;margin:0;margin-bottom:.5em}#social #twitter header a{margin-top:.5em;float:right;display:block;margin:5px 10px}#social section{float:left}#story{color:#fff}#story .wrapper>.inner{padding:1% 2%}#story .wrapper section p{font-size:1.2em}#team{background:#000;color:#fff;position:relative;border-top:5px solid #e35225;border-bottom:6px solid #e35225}#team section{border-right:1px dotted #fff;float:left;margin:0px 1px 0px 0px;text-align:center;width:24.8%}#team section a{display:block;color:#fff;position:relative}#team section a img{background:#010101;width:100%}#team section a .info{padding:15px 0px}#team section a .info p{margin:0}#team section.last{border-right:0}#team .row{border-bottom:1px dotted #fff}#team .row.last{border-bottom:0}#team article{z-index:1;zoom:1}#contact .wrapper>.inner{padding:1% 2%}#contact section{float:left;border-right:1px dotted #515151;min-height:275px;height:100%}#contact section.last{border-right:0}#contact section h4{margin:0;font-size:18px}#contact section p{margin:0;font-size:14px;line-height:1.5em}#contact .links{width:24%}#contact .links>.inner{padding:0 0 0 1em}#contact .links img{margin-top:-7px}#contact .links span{margin:5px}#contact .newsletter{width:48%}#contact .newsletter>.inner{padding:0 1em}#contact .newsletter input{border:1px solid #515151;padding:15px;background:#fff;margin:0 0 10px 0}#contact .newsletter input[type='email']{width:65%}#contact .newsletter input[type='submit']{background:#638d95;font-family:'Maven Pro'}#contact .newsletter input[type='submit']:hover{background:#e35225}#contact .newsletter p{margin:0 0 20px 0}#contact .contact{width:24%}#contact .contact>.inner{padding:0 0 0 1em}#contact .contact .role{margin-bottom:15px}#contact .contact .email,#contact .contact .phone{overflow:hidden}@media only screen and (max-width: 560px){.wrapper{width:100%;padding:0px}.wrapper>.inner{padding:1em 1em 3em 1em}.overlay .content{top:4600px !important}.overlay .content .email,.overlay .content .info,.overlay .content .twitter{font-size:68% !important}.main{padding:0}nav{margin-top:180px}nav ul{width:100% !important}nav ul li{width:100% !important;float:none !important;margin:0 !important;padding:0px !important}nav ul li a{background:#515151 !important;color:#fff !important;padding:12px 25px;text-align:left}nav ul li.last{margin:0;padding:0}header .title{top:-131px;left:13px;position:absolute}header .slogan{width:90% !important;margin:0 !important;float:none !important;padding:5% 0 5% 16% !important;text-align:center}#steps{display:none;visibility:hidden}#steps section img{padding:10% 2% 6% 2% !important;width:15% !important}#definition{display:none;visibility:hidden}#latest section{float:none !important;width:100% !important;border-right:0 !important;border-bottom:1px dotted #515151;min-height:150px !important}#thoughts .contain{border-bottom:0 !important}#thoughts .contain .row.first{border-top:0 !important}#thoughts .contain .row>.inner{padding:8px 0px !important}#thoughts section{overflow:hidden}#thoughts section>.inner{padding:0px 3% !important}#social #videoplayer{width:100% !important;border-right:0;padding:0 !important}#social #videoplayer #videoplaylist li{margin:0px 0px 0px 2px !important}#social #twitter{width:100% !important}#team section{width:24.5% !important}#team section a{font-size:75%}#contact section{float:none !important;width:100% !important;border-bottom:1px dotted #515151 !important;border-right:0 !important}#contact section.last{border-bottom:0 !important}#contact .newsletter input[type='text']{width:315px}nav li:first-child a{margin-left:0}nav li:last-child a{margin-right:0}nav ul li{display:inline}.oldie nav a{margin:0 0.7%}}@media only screen and (max-width: 1005px){.wrapper{width:100%;padding:0px}.wrapper>.inner{padding:1em 1em 3em 1em}.wrapper-small{width:90%}.overlay .content{top:5000px}nav ul{width:570px}nav ul li{margin:0;padding:0px}nav ul li a{padding:32px 21px;text-align:left}nav ul li.last{margin:0;padding:0}header .title{margin:0 0 0 37px}header .slogan{font-size:16px !important;width:65% !important;padding:0% 2%;margin:0 !important;line-height:27px}#thoughts .row{border-top:1px dotted #515151}#thoughts .row.first{border-top:0}#thoughts .row section{border-right:1px dotted #515151}#thoughts .row section.last{border-right:0}#steps{padding:0% 0% 2% 0%}#steps section{width:100% !important;text-align:left !important;float:none !important}#steps section img{float:left;padding:1% 2% 6% 2%;width:10%}#steps section .description{float:left;width:75%;padding:0% 3%}#steps section .description h2{margin:1% 0%}#steps section .description p{margin:1% 0%}#thoughts .contain{border-bottom:0}#latest section{float:none !important;width:90% !important;border-right:0 !important;border-bottom:1px dotted #515151;min-height:150px !important;margin:0 5%}#latest section .seeall{padding:1%;position:relative;float:right}#latest section>.inner{padding:1% 0% !important}#latest header h1{margin:10px 1%}#social article{padding:0}#social #videoplayer{width:100% !important;border-right:0;padding:0 !important}#social #videoplayer #videoplaylist li{margin:0px 0px 0px 2.5%}#social #twitter{width:100% !important}#story .wrapper>.inner{padding:1em 5% 3em 5% !important}#team section{width:24.6%}#team section p{padding:0px 10px}#contact .wrapper>.inner{padding:2% !important}#contact .links>.inner{min-width:126px !important}#contact .newsletter input[type='text']{width:65%}#contact .newsletter input[type='submit']:hover{background:rgba(227,82,37,0.3)}#contact section{min-height:175px}}.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}.ir:before{content:"";display:block;width:0;height:100%}.hidden{display:none !important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100% !important}@page{margin:0.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}
>>>>>>> 2e3f8c4a9b58d5ff668aaca3cb2f22ee685669ad
