/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../sass/boilerplate.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/boilerplate.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/boilerplate.scss */
::-moz-selection {
  background: #B3D500;
  text-shadow: none;
}

/* line 23, ../sass/boilerplate.scss */
::selection {
  background: #B3D500;
  text-shadow: none;
}

/* line 28, ../sass/boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/boilerplate.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/boilerplate.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/boilerplate.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 8, ../sass/ie.scss */
.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  /* line 13, ../sass/mediaqueries.scss */
  nav ul {
    width: 59%;
  }

  /* line 16, ../sass/mediaqueries.scss */
  nav a {
    float: left;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  /* line 23, ../sass/mediaqueries.scss */
  nav li:first-child a {
    margin-left: 0;
  }

  /* line 27, ../sass/mediaqueries.scss */
  nav li:last-child a {
    margin-right: 0;
  }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  /* line 35, ../sass/mediaqueries.scss */
  nav ul li {
    display: inline;
  }

  /* line 39, ../sass/mediaqueries.scss */
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  /* ============
      WIDE: Menu
     ============ */
  /* line 54, ../sass/mediaqueries.scss */
  .title {
    float: left;
    min-width: 15%;
    width: 15%;
  }

  /* line 60, ../sass/mediaqueries.scss */
  .slogan {
    float: right;
    min-width: 80%;
    width: 80%;
  }

  /* ============
      WIDE: Main
     ============ */
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  /* line 78, ../sass/mediaqueries.scss */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
/* line 3, ../sass/main.scss */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/* line 7, ../sass/main.scss */
ul, li {
  list-style-type: none;
}

/* line 11, ../sass/main.scss */
.wrapper {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

/* line 18, ../sass/main.scss */
.wrapper-small {
  width: 60%;
  margin: 0 20%;
}

/* line 23, ../sass/main.scss */
.gray-bg {
  background: #515151;
}

/* ===================
	ALL: Orange Theme
   =================== */
/* line 34, ../sass/main.scss */
.footer-container {
  background: #515151;
  height: 30px;
}
/* line 37, ../sass/main.scss */
.footer-container footer {
  color: white;
  font-weight: normal;
}

/* line 43, ../sass/main.scss */
.title {
  background: url("../img/dcg-logo.jpg") 0 0 no-repeat;
  width: 102px;
  height: 102px;
}

/* line 49, ../sass/main.scss */
.slogan {
  font-size: 24px;
}

/* ==============
	MOBILE: Menu
   ============== */
/* line 61, ../sass/main.scss */
nav ul {
  float: right;
  margin: 0;
  padding: 0;
}

/* line 67, ../sass/main.scss */
nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  color: #e35225;
  background: #fff;
}

/* line 83, ../sass/main.scss */
nav a:hover,
nav a:visited {
  color: #e35225;
}

/* line 87, ../sass/main.scss */
nav a:hover {
  text-decoration: underline;
}

/* ==============
	MOBILE: Main
   ============== */
/* line 95, ../sass/main.scss */
.main-container {
  width: 100%;
}

/* line 98, ../sass/main.scss */
.main {
  padding: 30px 0;
}

/* line 102, ../sass/main.scss */
.main article h1 {
  font-size: 2em;
}

/* line 106, ../sass/main.scss */
header h1 {
  color: #e35225;
}

/* ==================
	SECTIONS
    ================== */
/* line 115, ../sass/main.scss */
#steps {
  color: #fff;
}
/* line 117, ../sass/main.scss */
#steps section {
  float: left;
  width: 20%;
  height: 100%;
  margin: 0px 5% 0px 0px;
  text-align: center;
}
/* line 124, ../sass/main.scss */
#steps section h2 {
  color: #bde9f2;
}
/* line 127, ../sass/main.scss */
#steps section p {
  color: silver;
  text-align: justify;
}
/* line 131, ../sass/main.scss */
#steps section > .inner {
  padding: 10px;
}
/* line 135, ../sass/main.scss */
#steps article {
  padding: 20px 0px 0px 0px;
}

/* line 140, ../sass/main.scss */
#definition {
  text-align: center;
}
/* line 143, ../sass/main.scss */
#definition article {
  padding: 35px 0px 25px 0px;
}
/* line 146, ../sass/main.scss */
#definition article header h1 {
  padding: 0px;
  margin: 0px;
}

/* line 154, ../sass/main.scss */
#latest {
  background: #e3dfd4;
  border-top: 5px solid #e35225;
}
/* line 157, ../sass/main.scss */
#latest section {
  float: left;
  width: 15%;
  margin: 0px 1px 0px 0px;
  border-right: 1px dotted #515151;
}
/* line 163, ../sass/main.scss */
#latest section > .inner {
  padding: 10px;
}

/* line 170, ../sass/main.scss */
#social section {
  float: left;
}
/* line 172, ../sass/main.scss */
#social section#video {
  width: 60%;
}
/* line 175, ../sass/main.scss */
#social section#twitter {
  width: 40%;
}

/* line 181, ../sass/main.scss */
#story {
  color: #fff;
  height: 370px;
}
/* line 186, ../sass/main.scss */
#story .wrapper > .inner {
  padding: 10px 0px;
}

/* line 192, ../sass/main.scss */
#team {
  background: #e35225;
  color: #fff;
  position: relative;
}
/* line 196, ../sass/main.scss */
#team section {
  border-right: 2px dotted #fff;
  float: left;
  margin: 0px 1px 0px 0px;
  text-align: center;
}
/* line 202, ../sass/main.scss */
#team section img {
  background: #010101;
}
/* line 206, ../sass/main.scss */
#team section > .inner {
  padding: 10px 0px;
}
/* line 210, ../sass/main.scss */
#team article {
  z-index: 1;
  zoom: 1;
}
/* line 214, ../sass/main.scss */
#team .edge {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 0;
  zoom: 1;
}
/* line 215, ../sass/main.scss */
#team .edge .mid {
  width: 100%;
  height: 175px;
  background: #010101;
}
/* line 220, ../sass/main.scss */
#team .edge .btm, #team .edge .top {
  width: 100%;
  background: #e35225;
}
/* line 224, ../sass/main.scss */
#team .edge .top {
  height: 73px;
}
/* line 227, ../sass/main.scss */
#team .edge .btm {
  height: 110px;
}

/* line 240, ../sass/main.scss */
#contact section {
  float: left;
  width: 30%;
  border-right: 1px dotted #515151;
}
/* line 245, ../sass/main.scss */
#contact section > .inner {
  padding: 0px 20px;
}

/* line 1, ../sass/helper.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 8, ../sass/helper.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 15, ../sass/helper.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 20, ../sass/helper.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 32, ../sass/helper.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 41, ../sass/helper.scss */
.invisible {
  visibility: hidden;
}

/* line 46, ../sass/helper.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 51, ../sass/helper.scss */
.clearfix:after {
  clear: both;
}

/* line 55, ../sass/helper.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 7, ../sass/print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 15, ../sass/print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 19, ../sass/print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 23, ../sass/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 33, ../sass/print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 38, ../sass/print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 43, ../sass/print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 48, ../sass/print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 52, ../sass/print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 62, ../sass/print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 68, ../sass/print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
